.categories {
  h1 {
    margin-bottom: 30px;
  }
  
  section {
    background: #eee;
    padding: 10px 30px 20px;
    margin-bottom: 20px;

    .details {
      h2 {
        color: #aaa;
        letter-spacing: 0;
      }

      p {
        word-wrap: break-word;
      }
    }

    .play {
      vertical-align: middle;

      .btn {
        width: 150px;
        padding: 1em 0;

        &.result {
          color: #59bfe0;
          font-weight: bold;
        }
      }

      i {
        color: #3d7587;
        margin-right: 5px;
      }
    }
  }
}
