.home {
  h1 {
    margin-top: 50px;
  }

  .about {
    p {
      margin-top: 20px;
      line-height: 25px;
      font-size: 14px;
    }

    i {
      color: #59bfe0;
      font-size: 23px;
      margin: 20px 0 15px;
      text-align: center;
    }
  }
}
