<div class="container container-small">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-6">
                    <span>Admin | Categories</span>
                </div>
                <div class="col-sm-6 text-right">
                    <%= link_to "Back", admin_categories_path, class: "btn btn-sm" %>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <%= render 'admin/categories/form' %>
        </div>
    </div>
</div>
